.wrapper {
  margin: 20px 20px;
  padding: 10px;
  height: 600px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  h2 {
    font-size: 28px;
    margin: 10px 15px 10px 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    text-align: left;
  }
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  flex-direction: row;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.profileImageSection {
  flex: 1;
  text-align: center;

  img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #ccc;
    display: block;
  }

  .imgBtn {
    background-color: #6a0dad;
    font-style: bold;
    color: white;
    width: 300px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #8b5fa1;
    }
  }
}

p {
  margin-bottom: -3px;
  font-size: 14px;
}

.squareInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0; /* Square corners */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;

  &:focus {
    border-color: #6a0dad;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.profileInfoSection {
  flex: 2;

  .inputGroup {
    .error {
      color: #ff4d4f;
      font-size: 12px;
    }

    p {
      margin: 0 0 5px;
      font-size: 16px;
    }

    input {
      width: 100%;
      padding: 10px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.1);
      color: white;

      &:focus {
        border-color: #6a0dad;
        outline: none;
      }
    }
  }
}

.buttonSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    &.saveButton {
      background-color: #6a0dad;
      color: white;

      &:hover {
        background-color: purple;
      }
    }

    &.changePasswordButton {
      background-color: #6a0dad;
      color: white;

      &:hover {
        background-color: purple;
      }
    }
  }
}
