.searchBar {
  margin-bottom: 20px;

  .inputContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
