.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  .searchInput {
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    font-size: 16px;
    border: 3px solid white;
    border-radius: 15px;
    outline: none;
    background-color: black;
    opacity: 0.3;
    color: #fff;

    &::placeholder {
      color: #fff;
    }

    &:focus {
      border-color: gray;
    }
  }
}
